.container {
   
    
}

nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr)
}
nav ul li {
    
}



/* nav grid */
.nav {
    display: grid;
    grid-template-columns: repeat(4, 10px);
    grid-template-rows: 100px;
    grid-gap: 20px;
    background: aqua;
}
nav ul li.home {
    grid-column: 1 / -1;
}
nav ul li.about {
    grid-column: 1;
}
nav ul li.services {
    grid-column: 1;
}
nav ul li.contact {
    grid-column: 1;
}

